In [1]:
print("Hello World!")

Hello World!

In [ ]:
# 샵은 주석. 코드와 무관

In [11]:
# 왼쪽이 변수명 = 할당 값
student_name="Bob"

print(student_name)
age= 25
name='John'
height=5.9

# 변수 출력
print(name)
print(age)
print(height)

Bob
John
25
5.9

In [12]:
studnet name='charlie'
print(student name) 
# 변수명에 공백은 에러

SyntaxError: invalid syntax (2550071970.py, line 1)

In [13]:
1student_name='Bob'
#변수명은 숫자안됌. 언더바랑 영어만 가능

SyntaxError: invalid decimal literal (3424213322.py, line 1)

In [14]:
찰리_바보=25
print(찰리_바보)
#가능하나 한글보다는 영어를 쓰는걸로.

25

In [10]:
# 정수
num=10
# 실수
pi= 3.14
# 문자열
greeting='Hello'

In [23]:
# 정수
num=10
# 실수
pi= 3.14
# 문자열
greeting='Hello'
# 불린
is_active=True
# 리스트
fruits=['apple','banana','cherry']
# 튜플
coordinates=(10,20)
# 집합
unqiue_number={1,2,3}
# 사전
person={'name':'alice','age':25}

In [24]:
print(type(num))
print(type(pi))
print(type(greeting))
print(type(is_active))
print(type(fruits))
print(type(coordinates))
print(type(unqiue_number))
print(type(person))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [27]:
v1=1
v2=1.0
print(v1,v2)
print(type(v1))

1 1.0
<class 'int'>

In [34]:
# 이스케이프 문자 이용하기
s='제로베이스에서\n파이썬 제대로 배우기'
print(s)

제로베이스에서
파이썬 제대로 배우기

In [35]:
s #원본그대로 출력됨

'제로베이스에서\n파이썬 제대로 배우기'

In [36]:
### 리스트와 튜플 자료형 생성하기

#set 자료형은 중복이 없음

In [ ]:
'''인덱스와 리스트 
파이썬은 숫자0부터 센다. 0 1 2 3 4
-마이너스일 경우는 -1일이 시작 -1 -2 -3
L=[1,2,3,4]
print(L[1]) 출력은2가 됨

슬라이싱은 특성 인덱스범위에 있는 값 전체를 찾는 일을 말합니다. 
순서가 있는 자료형[시작:종료:폭] 시작부터 종료전까지.
폭이 음수이면 거꾸로 슬라이싱합니다. 
L=[1,2,3,4,5,6,7,8,9,0]
print(L[0:5:2)] 출력은 [1,3,5]

In [2]:
x=[1,2,3]
print(x[0])

1

In [3]:
x='1,2,3'
print(x[0])

1

In [4]:
x={1,2,3}
print(x[0])
#set자료형은 순서가 없음. 슬라이싱도 마찬가지임.

TypeError: 'set' object is not subscriptable

In [5]:
x={1:'a',2:'b'}
print(x[0]) 
# 딕셔너리에서 인덱싱은 없음. 키값만 있음. 키가 0이 없어서 에러남

KeyError: 0

In [6]:
print(x[1])

a

In [8]:
#리스트에서 인덱싱연습
my_list=[10,20,30,40,50]
print(my_list[2])
print(my_list[-1],my_list[4])
my_list[0]=100
print(my_list)
#리스트에서는 수정이 가능하다.

30
50 50
[100, 20, 30, 40, 50]

In [9]:
my_tuple=(10,20,30,40,50)
my_tuple[0]=100
print(my_tuple)
#튜플에서는 수정이 불가능

TypeError: 'tuple' object does not support item assignment

In [15]:
#리스트에서 슬라이싱연습
my_list=[1,2,3,4,5,6,7,8]
print(my_list[0:3])
print(my_list[:3])
print(my_list[6:8])
print(my_list[6:8])
print(my_list[-2:])

print(my_list[::-1])
print(my_list[0:8])
print(my_list[0:8:-1])

#시작과 끝은 생략가능

[1, 2, 3]
[1, 2, 3]
[7, 8]
[7, 8]
[7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]
[]

In [17]:
#문자열에서 인덱싱과 슬라이싱 연습
my_string='PythonProgramming'
print(my_string[0])
print(my_string[-1])
print(my_string[0:5])
print(my_string[::2])

P
g
Pytho
PtoPormig

In [19]:
#리슽와 문자열 혼합
my_mixed_list=['Apple','banana','Cherry']
print(my_mixed_list[1])
print(my_mixed_list[1][0])
print(my_mixed_list[1][-2:])

banana
b
na

In [20]:
#인덱싱/슬라이싱으로 값 바꾸기
my_list=[10,20,30,40,99,99]
my_list[-2]=50
my_list[-1]=60
print(my_list)

[10, 20, 30, 40, 50, 60]

In [23]:
my_list=[10,20,30,40,99,99]
my_list[-2:]=50,60
print(my_list)

[10, 20, 30, 40, 50, 60]

In [ ]:
###자료형과 메서드
'''메서드는 특정한 자료형에 속한 함수라고 할 수 있음
    메서드는 함수의 일종이고, 함수는 입력이 들어오면 출력이 나가는 어떤 장치.
    함수(변수), 메서드는 변수 메서드()

In [ ]:
###자료형과 메서드
'''메서드는 특정한 자료형에 속한 함수라고 할 수 있음
    메서드는 함수의 일종이고, 함수는 입력이 들어오면 출력이 나가는 어떤 장치.
    함수(변수), 메서드는 변수 메서드()

In [24]:
###자료형과 메서드
'''메서드는 특정한 자료형에 속한 함수라고 할 수 있음
    메서드는 함수의 일종이고, 함수는 입력이 들어오면 출력이 나가는 어떤 장치.
    함수(변수), 메서드는 변수 메서드()

_IncompleteInputError: incomplete input (1459999948.py, line 2)

In [28]:
#len함수 문자열과 리스트의 길이 계산
text="Hello, World!"
numbers=[1,2,3,4,5]
print(len(text))
print(len(numbers))

13
5

In [29]:
#sum 함수

numbers=[10,20,30]
scores=(50,60,70)
print(sum(numbers))
print(sum(scores))

60
180

In [31]:
#min&max 함수
temperatures=[23,19,25,30,21]
print(min(temperatures))
print(max(temperatures))

19
30

In [34]:
#sorted 함수 , 오름차순 내림차순

numbers=[5,3,8,1,2]
print(sorted(numbers))
print(sorted(numbers,reverse=True))

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

In [36]:
###문자열 메서드
#대문자소문자 변환
text="Python is Fun!"
print(text.upper())
print(text.lower())

PYTHON IS FUN!
python is fun!

In [37]:
text='   hello   '
print(text.strip())
print(text.lstrip())
print(text.rstrip())
#문자열 공백 제거

hello
hello
   hello

In [38]:
#문자열교체
text='I like python'
print(text.replace('python','programming'))

I like programming

In [41]:
#문자열 분리와 합치기
text='apple,banana,cherry'
fruits=text.split(',')
print(fruits)

['apple', 'banana', 'cherry']

In [47]:
text='apple,banana,cherry'
fruits=text.split(",")
print(",".join(fruits)) #복사, 붙여넣기가 편해짐

apple,banana,cherry

In [48]:
#리스트 메서드
#append
fruits=['apple','banana']
fruits.append('cherry')
print(fruits)

['apple', 'banana', 'cherry']

In [49]:
#insert 특정위치에 요소 삽입
fruits=['apple','cherry']
fruits.insert(1,'banana')
print(fruits)

['apple', 'banana', 'cherry']

In [50]:
#remove 특정요소삭제
fruits=['apple','banana','cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [51]:
fruits.remove('mango')

ValueError: list.remove(x): x not in list

In [53]:
#특정요소의 인덱스 찾기
fruits=['apple','banana','cherry']
print(fruits.index("banana"))
print(fruites.index('kiwi')) #키위는 없으니깐 에러남

1

NameError: name 'fruites' is not defined

In [55]:
fruits=['apple','banana','apple']
print(fruits.count('apple'))

2

In [60]:
#union집합메서드 합집합

set={1,2,3,}
set2={3,4,5}
print(set.union(set2))
print(set2.union(set))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [61]:
#intersection 교집합
set={1,2,3,}
set2={3,4,5}
print(set.intersection(set2))

{3}

In [62]:
#difference 차집합
set={1,2,3,}
set2={3,4,5}
print(set.difference(set2))

{1, 2}

In [64]:
#딕셔너리 메서드
data={'name':'Alice','age':25}
print(data.keys())
print(data.values())
print(data.items())

dict_keys(['name', 'age'])
dict_values(['Alice', 25])
dict_items([('name', 'Alice'), ('age', 25)])

In [68]:
#05 자료형 변환과 활용
print(int(3.9))
print(int("42"))
print(int("42.3")) #소수점포함 문자열은 변환 에러남

3
42

ValueError: invalid literal for int() with base 10: '42.3'

In [69]:
print(int(float('42.4')))

42

In [74]:
print(int(float(5)))
print(float(5))
print(float('5'))

5
5.0
5.0

In [75]:
print(float('abc')) #문자열은 에러남

ValueError: could not convert string to float: 'abc'

In [76]:
#문자열 변환
print(str('22'))
print(str('3.13'))
print(str([1,2,3]))

22
3.13
[1, 2, 3]

In [78]:
#리스트 변환
print(list('Hello'))
print(list((1,2,3))) #튜플이 리스트로 변환

['H', 'e', 'l', 'l', 'o']
[1, 2, 3]

In [95]:
L = [1, 2, 2, 3, 4, 4, 5]
print(L)  # 원래 리스트 출력
L = set(L)  # 중복 제거
print(L)  # 중복 제거된 집합 출력
L = list(L)  # 집합을 다시 리스트로 변환
L = sorted(L)  # 정렬
print(L)  # 정렬된 리스트 출력

[1, 2, 2, 3, 4, 4, 5]

TypeError: 'set' object is not callable

In [94]:
L=[1,2,2,3,4,4,5]
L=sorted(set(L))
print(L)

TypeError: 'set' object is not callable

In [96]:
###산술연산자
a=10
b=3
print(a+b)
print(a-b)

13
7

In [97]:
print(a*b)
print(a/b) #플롯이 나옴

30
3.3333333333333335

In [98]:
print(4/2)

2.0

In [99]:
print(a//b) #정수몫
print(a%b)

3
1

In [101]:
print(2**3)
print(9**0.5)

8
3.0

In [105]:
#암시적 형변환 int와 float연산
a=1
b=2.0
c= a+b
d= a*b
e= a/b
f= a**b
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))

3.0 <class 'float'>
2.0 <class 'float'>
0.5 <class 'float'>
1.0 <class 'float'>

In [107]:
#bool과 int/float 연산
a= True
b= False
c=1
d=1.0
print(a+c,type(a+c))
print(a+d,type(a+d))
print(b*c,type(b*c))

2 <class 'int'>
2.0 <class 'float'>
0 <class 'int'>

In [108]:
#산술 연산자의 특별한 활용
#문자열복사 
text='Hello'
print(text*3)

HelloHelloHello

In [113]:
#문자열 연결
frist='Hello'
second='World'
print(frist+' '+second)

Hello World

In [114]:
#리스트 복사
list=[1,2,3]
print(list*2)

[1, 2, 3, 1, 2, 3]

In [115]:
L=[0]*100
print(L)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [117]:
list= [1,2]
list2=[3,4,5]
print(list+list2)

[1, 2, 3, 4, 5]

In [119]:
# 비교 및 멤버십 연산자 그 결과로 불 연산자로 반환
a=5
b=10
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

In [120]:
# 특별한 비교연산자 실습
str1= 'apple'
str2= 'banana'
print(str1 ==str2)
print(str1 != str2)

False
True

In [123]:
#리스트 비교
list1=[1,2,3]
list2=[1,2,3]
list3=[3,2,1]

print(list1 ==list2)
print(list1 !=list3)
print(list1 <=list2)
print(list2 >=list3)

True
True
True
False

In [125]:
#복합연산자
a=1
b=2
c=2

print( a<= b <=c)
print( a<b<c )

True
False

In [127]:
#멤버십 연산자 실습
fruits =['apple','banana','cherry']
print('apple' in fruits)
print('orange' not in fruits)

True
True

In [128]:
world ='hello'
print('h' in world)
print('z' not in world)

True
True

In [129]:
person={ 'name':'Ailce','age':'30'}
print('name' in person.keys())
print('gender' not in person.keys())

True
True

In [130]:
#논리연산자
a=5
b=10
print( a>3 and b<20 )
print( a<3 or b>5 )
print( not (a ==5))
print( a >3 and( b>5 or a<4))
''' and 둘다 참일때 참을 반환
or둘중에 하나만 참이라도 참을 반환

True
True
False
True

In [131]:
#조건문기초
#if문 작성하기
number = 10
if number >0:
    print("양수입니다")

양수입니다

In [133]:
word='apple'
if 'a' in word:
    print("'a'가 포함되어 있습니다.")

'a'가 포함되어 있습니다.

In [134]:
fruits=['apple','banana','cherry']
if 'kiwi' in fruits:
    print("키위가 리스트에 있습니다.")
print('종료')

종료

In [138]:
L=[1,2,3]
num1 =3
num2 =4
if num1 not in L:
    L.append(num1)
    print(num1)

if num2 not in L:
    L.append(num2)
    print(num2)
print(L)

4
[1, 2, 3, 4]

In [142]:
#elif와 lf_elif
#else문
number = 5
if number %2 == 0:
    print("짝수입니다")
else:
    print('홀수입니다')

홀수입니다

In [143]:
height=175

if height >= 170:
    gender = "male"
else:
    gender = 'Female'

print(gender)

male

In [144]:
password ='1234'

if password =='1234':
    print('로그인 성공')
else:
    print('비밀번호가 틀렸습니다.')

로그인 성공

In [146]:
#elif

number=50

if number < 10:
    print("10보다 작습니다.")
elif number <=100:
    print("10이상이고 100보다 작습니다.")
else:
    print('100이상입니다.')

10이상이고 100보다 작습니다.

In [147]:
score=72

if score >= 90:
    print('a')
elif score >= 80:
    print('b')
elif score >= 70:
    print('c')
elif score >= 60:
    print('d') 
else
    print('F')

c

In [149]:
weather= 'cloudy'
if weather == 'sunny':
    print('산책을 추천합니다')
elif weather == 'rainy':
    print("실내에서 독서를 추천합니다.")
elif weather == 'cloudy':
    print("영화를 추천합니다")
else:
    print('날씨정보가 없습니다.')

영화를 추천합니다

In [151]:
number=0

if number >0:
    print("양수입니다.")
elif number<0:
    print('음수입니다.')

else:
    print('0')

0

In [ ]:
#코드에따라 효율성을 알아봐야함 if문이 좋은가 elif문이 좋은가 봐야함. if가 여러개이면 오히려 비효율적임.가독성도 안좋아짐.

###반복문

In [152]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [155]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [156]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [157]:
L=[]
for i in range(1,11):
    L.append(i**2)
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [158]:
#if문과 for문 결합 1부터 10사이의 짝수만 출력
for i in range(1,11):
    if i % 2 ==0:
        print(i)

2
4
6
8
10

In [161]:
#리스트에서 5보다 큰 숫자만 출력
numbers= [3,6,1,8,4,7]
for num in numbers:
    if num >5:
        print(num)

6
8
7

In [163]:
text="hello world"
for char in text:
    if char in "aeiou":
        print(char)

e
o
o

In [165]:
s_text=" "
text='hello word'
for char in text:
    if char in 'aeiou':
        s_text=s_text+char

In [166]:
s_text

' eoo'

In [167]:
#중첩 for문
matrix=[[1,2],[3,4],[5,6]]
for row in matrix:
    print(row)
    for element in row:
        print(element)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

In [168]:
x=10
f"x={x}" #{}변수

'x=10'

In [171]:
for i in range(2,10):
    for j in range(1,10):
        print(f" {i} x{j}={i*j}")

 2 x1=2
 2 x2=4
 2 x3=6
 2 x4=8
 2 x5=10
 2 x6=12
 2 x7=14
 2 x8=16
 2 x9=18
 3 x1=3
 3 x2=6
 3 x3=9
 3 x4=12
 3 x5=15
 3 x6=18
 3 x7=21
 3 x8=24
 3 x9=27
 4 x1=4
 4 x2=8
 4 x3=12
 4 x4=16
 4 x5=20
 4 x6=24
 4 x7=28
 4 x8=32
 4 x9=36
 5 x1=5
 5 x2=10
 5 x3=15
 5 x4=20
 5 x5=25
 5 x6=30
 5 x7=35
 5 x8=40
 5 x9=45
 6 x1=6
 6 x2=12
 6 x3=18
 6 x4=24
 6 x5=30
 6 x6=36
 6 x7=42
 6 x8=48
 6 x9=54
 7 x1=7
 7 x2=14
 7 x3=21
 7 x4=28
 7 x5=35
 7 x6=42
 7 x7=49
 7 x8=56
 7 x9=63
 8 x1=8
 8 x2=16
 8 x3=24
 8 x4=32
 8 x5=40
 8 x6=48
 8 x7=56
 8 x8=64
 8 x9=72
 9 x1=9
 9 x2=18
 9 x3=27
 9 x4=36
 9 x5=45
 9 x6=54
 9 x7=63
 9 x8=72
 9 x9=81

In [174]:
#countinue
for i in range(1,11):
    if i % 2==0:
        continue
    print(i)

1
3
5
7
9

In [175]:
for i in range(1,11):
    if i % 2 ==1:
        print(i)

1
3
5
7
9

In [176]:
#리스트 컴프레션
squares =[ X**2 for X in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [177]:
squares=[]
for x in range(1,6):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25]

In [181]:
#1부터 10까지의 짝수에 대해 제곱 리스트 만들기
squares= [x **2 for x in range(1,11) 
                  if x %2 ==0]
print(squares)

[4, 16, 36, 64, 100]

In [182]:
text='Hello World'
uppercase_letter=[char for char in text if char.isupper()]
print(''.join(uppercase_letter))
print(uppercase_letter)

HW
['H', 'W']

In [183]:
#while문운 조건이 참인 동안 코드를 반복해서 실행하는 제어문 .무한루프
r=1
while r <=10:
    print(r)
    r+=1

1
2
3
4
5
6
7
8
9
10

In [184]:
s='PYthon  is easy to  learn'
print(s)

PYthon  is easy to  learn

In [185]:
print(s.replace(' '*2,' '))

PYthon is easy to learn

In [ ]:
while '  ' s

In [ ]:
i=1
while i >0:
    i+=1
    if i % 10000=0
    break

In [ ]:
command= input('출력문자열')

In [186]:
while True:
    command =input("명령을 입력하세요('stop'입력시 종료)")
    if command == 'stop':
        print('프로그램을 종료합니다')
        break

명령을 입력하세요('stop'입력시 종료) hi
명령을 입력하세요('stop'입력시 종료) hello
명령을 입력하세요('stop'입력시 종료) stop

프로그램을 종료합니다